
<%- include ('../partials/header') %>
<%- include('../partials/navbar') %>
<style>
  .view {
    margin-left:85px;
  text-decoration: none;
  border: 3px solid yellow;
  color: transparent;
  padding: 20px 30px;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 3px;
  transition: all 0.5s;
  position: relative;
}
.view:before {
  content: "View";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  font-size: 12px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
.view:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
.view:after {
  content: "View";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(52, 169, 224);
  background: rgb(34, 34, 34);
  font-size: 12px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
.view:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

</style>

<main  class="container">
  
   <marquee> <h1 class="display-4" style="font-family: 'Send Flowers', cursive;">Products</h1></marquee><br><br>
       <% if(success&& success.length){ %>
                    <div class="alert alert-success alert-dismissible fade show  flash" role="alert">
                         <%=success%>
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <%}%>
       <div class="row">

            <%for(let product of products){%>

            <div class="col-lg-4 col-md-6 mb-3">
                                 <div class="card mx-auto" style="width:20rem;">
  <img src="<%=product.img%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=product.name %></h5>
    <p class="card-text"><%=product.desc %>.</p>
    <h5 class="card-title"><%=product.price%>$</h5>
    <a href="/products/<%=product._id%>" class="btn  view ">View</a>
  </div>
</div>
            </div>

            <%}%>
        </div>

</main>




<%- include ('../partials/footer') %>