<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<style>
     .rate {

          float: left;
          height: 46px;
          padding: 0 10px;
     }

     .rate:not(:checked) > input {
          position: absolute;
          top: -9999px;
     }

     .rate:not(:checked) > label {
          float: right;
          width: 40px;
          height: 52px;

          overflow: hidden;
          white-space: nowrap;
          cursor: pointer;
          font-size: 45px;
          color: rgb(121, 105, 105);
     }

     .rate:not(:checked)>label:before {
          content: '☆';
     }

     .flash {

          text-align: center !important;


     }

     .mb-3 {
          margin-top: 12px !important;
     }
     .custom {
          margin-top: 12px;
          margin-left: 140px;

     }
     .reviewsdiv {
          padding: 5px;
          backdrop-filter: blur(10px);
          background-color: rgb(232, 255, 247);
          opacity: 0.8;
     }
     .card-text {
          text-align: left !important;
          font-family: cursive;
          color: rgb(47, 44, 44);

     }
</style>
<br>
     <br>
          <main class="container " style="margin-top: 5rem; ">
               <div class="row">

                    <div class="col-md-5">
                         <div class="card mx-auto" style="width: 24rem;border:2px solid lightgrey;">
                              <img src="<%=product.img%>" class="card-img-top" alt="...">
                                   <div class="card-body">
                                        <h3 class="card-title">
                                             <%=product.name%>
                                        </h5>
                                        <h5 class="card-title">
                                             <%=product.price%>$
                                        </h3>
                                        <p class="card-text">
                                             <%=product.desc%>
                                        </p>
                                        <form class="d-inline-block" action="/cart/<%=product._id%>/add" method="post">
                                             <button type="submit" class="btn btn-success">Add to cart</button>
                                        </form>
                                        <form class="d-inline-block" action="/products/<%=product._id%>?_method=DELETE" method="POST">
                                             <button class="btn btn-danger">Delete</button>
                                        </form>
                                        <a href="/products/<%=product._id%>/edit" class="btn btn-primary">Edit</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-lg-6">
                              <% if(success && success.length){ %>
                                   <div class="alert alert-success alert-dismissible fade show  flash" role="alert">
                                        <%=success%>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                   </div>
                              <%}%>

                              <% if(error && error.length){ %>
                                   <div class="alert alert-success alert-dismissible fade show  flash" role="alert">
                                        <%=error%>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                   </div>
                              <%}%>
                              <h1 style="font-size: 32px;font-weight:bold;" class="display-5">Leave A Review of the product
                              </h1>
                              <br>
                                   <div class="mb-3">
                                        <form method="POST" action="/products/<%=product._id%>/review">
                                             <div
                                                  class="mb-3">
                                                  <!-- <label style="color:rgb(167, 40, 8);" class=" form-label" for="name" name="name">Name</label>
                                                                                                                                                                                              <input type="text" id="name" class="form-control" name="name"></div> -->
                                                  <div class="mb-3">
                                                       <label style="color: rgb(167, 40, 8);" class=" form-label" for="rating">Rating</label>
                                                       <br><br>
                                                            <fieldset class="starability-heartbeat"
                                                                 <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating."/>
                                                                 <input type="radio" id="first-rate1" name="rating" value="1"/>
                                                                 <label for="first-rate1" title="Terrible">1 star</label>
                                                                 <input type="radio" id="first-rate2" name="rating" value="2"/>
                                                                 <label for="first-rate2" title="Not good">2 stars</label>
                                                                 <input type="radio" id="first-rate3" name="rating" value="3"/>
                                                                 <label for="first-rate3" title="Average">3 stars</label>
                                                                 <input type="radio" id="first-rate4" name="rating" value="4"/>
                                                                 <label for="first-rate4" title="Very good">4 stars</label>
                                                                 <input type="radio" id="first-rate5" name="rating" value="5"/>
                                                                 <label for="first-rate5" title="Amazing">5 stars</label>
                                                            </fieldset>
                                                       </div>
                                                      
                                                                 <div class="mb-3">
                                                                      <label style="color:rgb(167, 40, 8);" class=" form-label" for="comment">Comment</label>
                                                                      <textarea name="comment" class="form-control" id="comment" rows="3"></textarea>
                                                                 </div>
                                                                 <button class="btn btn-large btn-success">Post Review</button>
                                                            </form>
                                                            <h3 style="text-align: center;">Reviews</h3>
                                                            <br>
                                                                 <div class="mb-3">
                                                                      <%for(let review of product.reviews){%>
                                                                           <div class="reviewsdiv">
                                                                                <div class="card border-dark custom  mb-2" style="max-width: 18rem;">
                                                                                     <div class="card-header bg-transparent border-success">Rating:
                                                                                           <p class="starability-result" data-rating="3">
                                                                                             <%=review.rating%>
                                                                                          </p>
                                                                                         </div> 
                                                                                     <div class="card-body text-success">
                                                                                          <p class="card-text">Comment:
                                                                                               <%=review.comment%>
                                                                                          </p>
                                                                                     </div>
                                                                                     <div class="card-footer bg-transparent border-success">By:
                                                                                          <%=review.user%></div>

                                                                                </div>
                                                                           </div>

                                                                           <hr>
                                                                           <% }%>
                                                                      </div>
                                                                 </div>
                                                            </div>

                                                       </div>
                                                  </main>
                                                  <br>
                                                       <%- include('../partials/footer') %>
